<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul>
				<li>{{#link-to "about"}}About{{/link-to}}</li>
				<li>{{#link-to "configure"}}Configuracion{{/link-to}}</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
{{outlet}}
</div>
